<!DOCTYPE html>
<html ng-app="carApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<div class="list-group" ng-controller="CarController as carsCtrl">

    <div class="list-group-item" ng-repeat="car in carsCtrl.cars">
        <h3>{{car.mark}}
          <em class="pull-right"> {{car.model}}</em>
        </h3>
        <div class="gallery" ng-controller="PhotoController as gallery" ng-show="car.photos.length">
            <img ng-src="{{car.photos[gallery.current]}}" width="100%"/>
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="img in car.photos">
                    <a href="javascript:void(0);" ng-click = "gallery.setCurrent($index)"><img ng-src="{{img}}" width="80px"/></a>
                </li>
            </ul>
        </div>
        <section ng-controller="TabsController as tab">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active: tab.isSet(1)}"><a href="javascript:void(0);" ng-click="tab.setActive(1)">Desc</a></li>
                <li role="presentation" ng-class="{active: tab.isSet(2)}"><a href ="javascript:void(0);" ng-click="tab.setActive(2)">Additional Data</a></li>
                <li role="presentation" ng-class="{active: tab.isSet(3)}"><a href="javascript:void(0);" ng-click="tab.setActive(3)">Revs</a></li>
            </ul>
            <div ng-show="tab.isSet(1)">{{car.description}}</div>
            <div ng-show="tab.isSet(2)">{{car.additionalData}}</div>
            <div class="row" ng-show="tab.isSet(3)" >
                <ul>
                    <h4>Reviews</h4>
                    <li ng-repeat="rev in car.reviews">
                        <blockquote>
                            <strong>{{rev.title}}, {{rev.star}}</strong>
                            {{rev.description}}
                            <cite class="clearfix">—{{rev.author}}</cite>
                        </blockquote>
                    </li>
                </ul>
                <form name="reviewForm" ng-submit="revCtrl.addReview(car)" ng-controller="ReviewController as revCtrl">
                    <blockquote>
                        <strong>{{revCtrl.review.title}}, {{revCtrl.review.star}} </strong>
                        {{revCtrl.review.description}}
                        <cite class="clearfix">—{{revCtrl.review.author}}</cite>
                    </blockquote>
                    <input ng-model="revCtrl.review.title" placeholder="Title"/>
                    <input ng-model="revCtrl.review.description" placeholder="Desc"/>
                    <input ng-model="revCtrl.review.author" placeholder="author" type="email"/>
                    <select ng-model="revCtrl.review.star" ng-options="stars for stars in [1,2,3,4,5]">
                        <option value="">Rate</option>

                    </select>
                    <button type="submit">Add review</button>
                </form>
            </div>

        </section>
    </div>
</div>
    </div>
</div>
</body>
</html>