<!DOCTYPE html>
<html ng-app="carApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<div class="list-group" ng-controller="CarController as carsCtrl">

    <div class="list-group-item" ng-repeat="car in carsCtrl.cars">
        <h3>{{car.mark}}
          <em class="pull-right"> {{car.model}}</em>
        </h3>
        <div class="gallery" ng-controller="PhotoController as gallery" ng-show="car.photos.length">
            <img ng-src="{{car.photos[gallery.current]}}" width="100%"/>
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="img in car.photos">
                    <a href="javascript:void(0);" ng-click = "gallery.setCurrent($index)"><img ng-src="{{img}}" width="80px"/></a>
                </li>
            </ul>
        </div>
        <car-tabs></car-tabs>
    </div>
</div>
    </div>
</div>
</body>
</html>